* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', 'Verdana', 'Arial', sans-serif;
	/* overflow-x: hidden; */
}

.nav-head {
	display: flex;
	gap: 3rem;
}
