@media (max-width: 34em) {
	body {
		overflow-x: hidden;
	}

	html {
		overflow-x: hidden;
	}
	svg {
		display: none;
	}

	.header {
		margin: 0;
		gap: 5rem;
		max-width: 100%;
		justify-content: space-between;
	}

	.line {
		display: none;
	}

	.nav-head {
		display: none;
	}

	.show-ad {
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}

	.brock-ad {
		width: 100%;
		height: fit-content;
	}

	.raw-box {
		width: 100%;
	}

	.raw-logo {
		display: flex;
		justify-content: center;
		align-self: center;
		height: 5rem;
		width: 8rem;
	}

	.usa-logo,
	.raw-txt,
	.triangle-topleft {
		display: none;
	}

	.results-btn {
		width: 100%;
	}

	.raw-preview {
		padding-bottom: 5rem;
	}

	.results {
		padding: 2rem;
		font-size: 1.6rem;
	}

	.highlights-txt {
		padding: 2rem;
		align-self: center;
		font-size: 1.2rem;
		z-index: 0;
		width: 15rem;
	}

	/* .media-group {
		display: flex;
		height: 10rem;
		width: 10rem;
	} */
	/* 
	.media-element > img {
		height: 10rem;
		width: 50rem;
		z-index: 40;
		margin-right: 0.2rem;

		background-color: red;
	} */

	.container {
		display: flex;
		justify-content: space-between;
	}

	.three-img {
		display: flex;
		flex-direction: column;
		width: fit-content;
		gap: 5rem;
	}

	.no-margin {
		margin-bottom: 0;
	}

	.img-box {
		display: flex;
		gap: 1.5rem;
		align-items: center;
		margin-left: 2rem;
		border-bottom: 1px solid lightgrey;
	}

	.timer {
		background-color: black;
		font-size: 1.4rem;
		padding: 0.3rem 0.3rem;
		font-weight: 600;
		position: absolute;
		top: 0;
	}

	.three-col-size {
		width: 18rem;
		height: 12rem;
		border-bottom: 5px solid orange;
	}
	.match-description {
		font-size: 1.2rem;
		width: 10rem;
		margin-bottom: 3rem;
	}
	/* 
	.container-4 {
		display: flex;
		flex-direction: column;
	} */

	.trend-imgs {
		display: flex;
		flex-direction: column;
	}

	.box-layout {
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		width: fit-content;
	}

	.links-box {
		display: flex;
		flex-direction: column;
		gap: 0;
	}

	.match-img {
		height: fit-content;
		width: 37.5rem;
	}

	.post-link {
		letter-spacing: 0;
		width: 35rem;
		font-size: 2.4rem;
	}

	.raw-txt-post {
		color: #fff;
	}

	.media-logo {
		display: none;
	}

	.new-link {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.flex-link {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	/* .container2 {
		max-width: 100%;
		overflow: hidden;
	} */

	/* .txt {
		width: 15rem;
		padding: 5rem 1rem;
		font-size: 1.2rem;
		top: -35%;
		font-weight: 600;
	} */

	.slider5 {
		overflow-x: scroll;
		width: 180rem;
		background-color: black;
		margin-left: -1rem;
	}

	.slider5 > img {
		max-width: 100%;
		aspect-ratio: 16/9;
		padding: 0.25rem;
	}

	.handle {
		display: none;
	}

	.txt-right {
		display: none;
	}

	.wwe-peacock {
		display: none;
	}

	.btn-mobile-nav {
		display: block;
		z-index: 9999;
		color: black;
		background-color: black;
	}

	.icon-mobile-nav {
		height: 3.5rem;
		width: 4rem;
	}

	.nav-head {
		background-color: rgb(8, 8, 8);
		-webkit-backdrop-filter: blur(5px);
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		height: 100%;
		height: 100vh;
		transform: translateX(-100%);

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transition: all 0.5s ease-in;

		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		z-index: 90;
	}

	.nav-open .nav-head {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translate(0);
	}

	.nav-open .icon-mobile-nav[name='close-outline'] {
		display: block;
	}

	.nav-open .icon-mobile-nav[name='menu-outline'] {
		display: none;
	}

	.vid-mobile::after {
		background-image: url('https://www.wwe.com/a/i/video-icons/small-arrow-with-black.svg');
		content: '';
		background-size: 64px 64px;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 45%;
		left: 26%;
		transform: translate(-50%, -50%);
		padding: 9.6rem 18rem;
		/* background-color: #0969a5; */
		z-index: 100;
		padding-top: 10rem;
	}

	.blog-container {
		display: none;
	}

	.blog-container-mobile {
		display: contents;
		background-color: #000;
	}

	.blog-container-mobile {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.blog-container-mobile h2 {
		font-size: 5rem;
	}

	.blog-container-mobile p {
		font-size: 1.6rem;
	}

	.blog-container-mobile .blog-wrapper-mobile {
		width: 80%;
		z-index: 2;
	}

	.blog-content-mobile .blog-slide-mobile {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.img-box-mobile img {
		width: 100%;
	}

	.wwe-photo-mobile {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.wwe-txt-mobile {
		z-index: 10;
		color: aliceblue;
		background-color: #000;
		padding: 2rem;
		padding-left: 12rem;
		height: 10rem;
		font-size: 1.6rem;
		font-weight: 600;
	}

	.wwe-timer-mobile {
		position: absolute;
		background-color: #000;
		color: #fff;
		font-size: 1.2rem;
		padding: 0.5rem;
		top: 0;
	}
}
