@media (max-width: 59em) {
	body {
		overflow-x: hidden;
	}

	html {
		overflow-x: hidden;
	}
	svg {
		display: none;
	}

	.header {
		margin: 0;
		gap: 5rem;
		max-width: 100%;
		justify-content: space-between;
	}

	.line {
		display: none;
	}

	.nav-head {
		display: none;
	}

	.show-ad {
		margin-top: 3rem;
		display: flex;
		flex-wrap: wrap;
	}

	.brock-ad {
		width: 70%;
		height: fit-content;
	}

	.raw-box {
		width: 100%;
	}

	.right-side {
		margin-left: 17.5rem;
		width: 70%;
	}

	.raw-preview {
		margin-bottom: 3rem;
	}

	.raw-logo {
		display: flex;
		justify-content: center;
		align-self: center;
		height: 5rem;
		width: 8rem;
	}

	.results-btn {
		width: 100%;
	}

	.raw-preview {
		padding-bottom: 5rem;
	}

	.results {
		padding: 2rem;
		font-size: 1.6rem;
	}

	.highlights-txt {
		padding: 2rem;
		align-self: center;
		font-size: 1.2rem;
		z-index: 0;
		width: 15rem;
	}

	/* .media-group {
		display: flex;
		height: 10rem;
		width: 10rem;
	} */
	/* 
	.media-element > img {
		height: 10rem;
		width: 50rem;
		z-index: 40;
		margin-right: 0.2rem;

		background-color: red;
	} */

	.container {
		/* display: flex; */
	}

	.three-img {
		/* display: flex;
		align-items: center; */
		margin-left: 1.2rem;
	}

	.img-box {
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		border-bottom: 1px solid lightgrey;
	}

	.img-box:last-child {
		margin-right: 2rem;
	}

	.three-col-size {
		width: 25rem;
		height: 15rem;
		border-bottom: 5px solid orange;
	}

	.timer {
		background-color: black;
		font-size: 1.4rem;
		padding: 0.3rem 0.3rem;
		font-weight: 600;
		position: absolute;
		top: 0;
	}

	.match-description {
		font-size: 1.8rem;
		width: 22rem;
		margin-bottom: 3rem;
	}
	.trend-imgs {
		display: flex;
		overflow-x: scroll;
		width: 100%;
	}

	.box-layout {
		display: flex;
		position: relative;
		width: 100%;
		gap: 3rem;
	}

	.links-box {
		display: flex;
		gap: 0;
	}

	.match-img img {
		width: 90%;
	}

	.post-link {
		letter-spacing: 0;
		width: 30rem;
		font-size: 2.4rem;
		margin-left: 5rem;
	}

	.raw-txt-post {
		color: #fff;
	}

	.new-link {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		margin-left: 1rem;
	}

	.flex-link {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.handle {
		display: none;
	}

	.txt-right {
		display: none;
	}

	.wwe-peacock {
		display: none;
	}

	.btn-mobile-nav {
		display: block;
		z-index: 9999;
		color: black;
		background-color: black;
	}

	.icon-mobile-nav {
		height: 3.5rem;
		width: 4rem;
	}

	.nav-head {
		background-color: rgb(8, 8, 8);
		-webkit-backdrop-filter: blur(5px);
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		height: 100%;
		height: 100vh;
		transform: translateX(-100%);

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transition: all 0.5s ease-in;

		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		z-index: 90;
	}

	.nav-open .nav-head {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translate(0);
	}

	.nav-open .icon-mobile-nav[name='close-outline'] {
		display: block;
		z-index: 999;
	}

	.nav-open .icon-mobile-nav[name='menu-outline'] {
		display: none;
	}

	.vid-mobile::after {
		background-image: url('https://www.wwe.com/a/i/video-icons/small-arrow-with-black.svg');
		content: '';
		/* background-size: 64px 64px; */
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 26%;
		left: 50%;
		transform: translate(-50%, -50%);
		/* padding: 9.6rem 18rem; */
		/* background-color: #0969a5; */
		z-index: 0;
		/* padding-top: 10rem; */
	}

	.carousel-container {
		display: none;
	}

	.carousel-container-mobile {
		display: contents;
		background-color: #000;
	}

	.carousel-container-mobile {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70%;
	}

	.carousel-container-mobile h2 {
		font-size: 5rem;
	}

	.carousel-container-mobile p {
		font-size: 1.6rem;
	}

	.carousel-container-mobile .carousel-wrapper-mobile {
		width: 80%;
		z-index: 2;
	}

	.carousel-content-mobile .carousel-slide-mobile {
		display: flex;
		align-items: center;
		gap: 1rem;
		background-color: #000;
	}

	.img-box-mobile img {
		width: 100%;
	}

	.wwe-photo-mobile {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.wwe-txt-mobile {
		z-index: 10;
		color: aliceblue;
		background-color: #000;
		padding: 2rem;
		padding-left: 40rem;
		height: 13rem;
		font-size: 1.6rem;
		font-weight: 600;
	}

	.wwe-txt-mobile-right {
		z-index: 10;
		color: aliceblue;
		background-color: #000;
		padding: 2rem;
		padding-left: 12rem;
		padding-right: 9rem;
		height: 13rem;
		font-size: 1.6rem;
		font-weight: 600;
	}

	.wwe-timer-mobile {
		position: absolute;
		background-color: #000;
		color: #fff;
		font-size: 1.2rem;
		padding: 0.5rem;
		top: 0;
	}
}

@media (max-width: 34em) {
	body {
		overflow-x: hidden;
	}

	html {
		overflow-x: hidden;
	}
	svg {
		display: none;
	}

	.header {
		margin: 0;
		gap: 5rem;
		max-width: 100%;
		justify-content: space-between;
	}

	.line {
		display: none;
	}

	.nav-head {
		display: none;
	}

	.share-icon {
		display: none;
	}

	.show-ad {
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}

	.raw-box-container {
		gap: 0;
	}

	.brock-ad {
		width: 100%;
		height: fit-content;
		margin: 0;
	}

	.raw-box {
		width: 100%;
	}

	.right-side {
		margin: 0;
		width: 100%;
	}

	.raw-logo {
		display: flex;
		justify-content: center;
		align-self: center;
		height: 5rem;
		width: 8rem;
	}

	.usa-logo,
	.raw-txt,
	.triangle-topleft {
		display: none;
	}

	.results-btn {
		width: 100%;
	}

	.raw-preview {
		padding-bottom: 5rem;
	}

	.results {
		padding: 2rem;
		font-size: 1.6rem;
	}

	.highlights-txt {
		padding: 2rem;
		align-self: center;
		font-size: 1.2rem;
		z-index: 0;
		width: 15rem;
	}

	.container {
		display: flex;
	}

	.three-img {
		display: flex !important;
		flex-direction: column;
	}

	.img-box {
		position: relative;
		display: flex !important;
		flex-direction: row;
		gap: 1rem;
		border-bottom: 1px solid lightgrey;
	}

	.img-box:last-child {
		margin-left: 1.6rem;
	}

	.three-col-size {
		width: 18rem;
		height: 12.5rem;
		border-bottom: 5px solid orange;
	}

	.timer {
		background-color: black;
		font-size: 1.4rem;
		padding: 0.3rem 0.3rem;
		font-weight: 600;
		position: absolute;
		top: 0;
		left: 0;
	}

	.match-description {
		font-size: 1.4rem;
		width: 12rem;
		margin-bottom: 3rem;
	}
	.trend-imgs {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid gray;
	}

	.box-layout {
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		width: 100%;
		gap: 0;
		border-bottom: 1px solid gray;
	}

	.links-box {
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	.social-media-layout-raw:last-child {
		display: none;
	}

	.share-icon {
		display: block;
		height: 3rem;
		width: 3rem;
		color: gray;
	}

	.new-link {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		gap: 0;
	}

	.social-media-layout:last-child {
		margin-right: 2rem;
		margin-top: 3rem;
	}

	.match-img img {
		height: fit-content;
		width: 100%;
	}

	.post-link {
		letter-spacing: 0;
		width: 35rem;
		font-size: 2.4rem;
		margin-left: 2rem;
	}

	.raw-txt-post {
		color: #fff;
	}

	.media-logo {
		display: none;
	}

	.new-link {
		display: flex;
		justify-content: space-between;
	}

	.flex-link {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.handle {
		display: none;
	}

	.txt-right {
		display: none;
	}

	.wwe-peacock {
		display: none;
	}

	.btn-mobile-nav {
		display: block;
		z-index: 9999;
		color: black;
		background-color: black;
	}

	.icon-mobile-nav {
		height: 3.5rem;
		width: 4rem;
	}

	.nav-head {
		background-color: rgb(8, 8, 8);
		-webkit-backdrop-filter: blur(5px);
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		height: 100%;
		height: 100vh;
		transform: translateX(-100%);

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transition: all 0.5s ease-in;

		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		z-index: 90;
	}

	.nav-open .nav-head {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translate(0);
	}

	.nav-open .icon-mobile-nav[name='close-outline'] {
		display: block;
	}

	.nav-open .icon-mobile-nav[name='menu-outline'] {
		display: none;
	}

	.vid-mobile::after {
		background-image: url('https://www.wwe.com/a/i/video-icons/small-arrow-with-black.svg');
		content: '';
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 45%;
		left: 27%;
		transform: translate(-50%, -50%);
		z-index: 100;
	}

	.carousel-container {
		display: none;
	}

	.carousel-container-mobile {
		display: contents;
		background-color: #000;
	}

	.carousel-container-mobile {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.carousel-container-mobile h2 {
		font-size: 5rem;
	}

	.carousel-container-mobile p {
		font-size: 1.6rem;
	}

	.carousel-container-mobile .carousel-wrapper-mobile {
		width: 80%;
		z-index: 2;
	}

	.carousel-content-mobile .carousel-slide-mobile {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.img-box-mobile img {
		width: 100%;
	}

	.wwe-photo-mobile {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.wwe-txt-mobile {
		z-index: 10;
		color: aliceblue;
		background-color: #000;
		padding: 2rem;
		padding-left: 12rem;
		height: 10rem;
		font-size: 1.6rem;
		font-weight: 600;
	}

	.wwe-txt-mobile-right {
		display: none;
	}

	.wwe-timer-mobile {
		position: absolute;
		background-color: #000;
		color: #fff;
		font-size: 1.2rem;
		padding: 0.5rem;
		top: 0;
	}
}
