/*///////////////////////////
////////// HEADER ///////////
///////////////////////////*/

body {
	overflow-x: hidden;
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: black;
	gap: 5rem;
	padding: 1rem 6rem;
}

.header img {
	cursor: pointer;
}

.header-text {
	font-size: 1.6rem;
	color: lightgrey;
	font-weight: 600;
	letter-spacing: -0.1rem;
	cursor: pointer;
}

.header-text:hover {
	color: white;
}

.wwe-peacock {
	margin-left: auto;
	height: 5rem;
	padding: 1rem;
}

.line {
	display: inline-block;
	background-color: gray;
	height: 4rem;
	width: 0.2rem;
}

.search-logo {
	color: #fff;
	height: 3rem;
	width: 3rem;
	padding: 0.5rem;
}

.wwe-peacock:hover,
.search-logo:hover {
	background-color: gray;
	cursor: pointer;
}

/*/ //////////////////////////
////////// CAROUSEL ///////////
///////////////////////////*/
/* 
p {
	color: #fff;
}

.highlights-txt {
	font-size: 1.6rem;
	/* margin-left: 20rem; */
/* margin-right: 6rem; */
/* margin-top: 6rem; */
/* display: flex;
	align-items: center;
	width: 30rem;
	position: absolute;
	background-color: rgb(53, 53, 53);
	z-index: 40;
	padding-top: 5rem;
	padding-bottom: 6.2rem;
	padding-left: 10rem; 
}

.highlights-box {
	margin-left: 50rem;
}

.highlights {
	margin-left: 10rem;
	margin-right: 5rem;
}

.media-container {
	position: relative;
}

.media-scroller,
.media-group {
	display: grid;
	grid-auto-flow: column;
	background-color: rgb(53, 53, 53);
	gap: 0.25rem;
}

.media-scroller {
	grid-auto-columns: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	z-index: 40;
}

.media-group {
	/* border: 3px solid limegreen; */
/* grid-auto-columns: 1fr; */

/* .media-element {
	border-radius: 0.25rem;
	overflow: hidden;
	position: relative;
	z-index: 0;
	height: 15rem;
}

.timer {
	font-size: 2rem;
	position: absolute;
	background-color: #fff;
	top: 0;
}

.media-element > img {
	/* width: 100%; */
/* aspect-ratio: 16/ 9;
	object-fit: cover;
}

.carousel-img:hover {
	cursor: pointer;
}

.next,
.previous {
	z-index: 40;
	position: absolute;
}

svg {
	height: 10rem;
	width: 10rem;
}

.next {
	right: 10%;
	top: 15%;
}

.previous {
	left: 20%;
	top: 15%;
}



.media-group:target :where(.next, .previous) {
	display: block;
}  */

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-x: hidden;
}

:root {
	/* --slider-padding: 5rem; */
}

.container2 {
	display: flex;
	justify-content: center;
	overflow: hidden;
	/* width: 100rem; */
	max-width: 100%;
	position: relative;
}

.slider {
	--slider-index: 0;
	display: flex;
	flex-grow: 1;
	margin: 0 0.25rem;
	transform: translateX(calc(var(--slider-index) * -100%));
	transition: transform 250ms ease-in-out;
}

.slider > img {
	flex: 0 0 25%;
	max-width: 25%;
	aspect-ratio: 16/9;
	padding: 0.25rem;
	/* border-radius: 1rem; */
}

.handle {
	border: none;
	/* border-radius: 1rem; */
	flex-grow: 0;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 10;
	margin: 0.25rem 0;
	padding: 0 0.5rem;
	cursor: pointer;
	font-size: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	line-height: 0;
	transition: background-color 150ms ease-in-out;
}

.left-handle {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: 20rem;
}

.right-handle {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 20rem;
}

.handle:hover,
.handle:focus {
	background-color: rgba(0, 0, 0, 0.5);
}

.text {
	transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text {
	transform: scale(1.2);
}

.txt {
	color: black;
	z-index: 20;
	background-color: gray;
	padding: 5rem 3rem;
	text-align: center;
	position: absolute;
	left: 0;
	width: 15rem;
	top: -12%;
}

.txt-right {
	color: black;
	z-index: 20;
	background-color: gray;
	padding: 2.9rem 3rem;
	text-align: center;
	position: absolute;
	right: 0;
	width: 15rem;
	top: -12%;
}

.txt-right {
	padding-left: 17rem;
}

/*///////////////////
*/

.container {
	max-width: 150rem;
	margin: 0 auto;
	margin-bottom: 3rem;
}

.show-ad {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
}

.raw-box {
	background-color: rgb(214, 26, 26);
	padding: 2rem 3rem;
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: fit-content;
	align-items: center;
	position: relative;
}

.raw-txt {
	font-size: 1.6rem;
	font-weight: 500;
	font-style: bold;
	word-spacing: -0.2rem;
	z-index: 1;
}

.raw-logo {
	height: 10rem;
	width: 16rem;
}

.usa-logo {
	width: 8rem;
	height: 4rem;
}

.triangle-topleft {
	width: 0;
	height: 0;
	border-top: 100px solid rgb(214, 26, 26);
	border-right: 100px solid transparent;
	position: absolute;
	bottom: -10%;
	left: 0;
	z-index: 0;
}

.brock-ad {
	height: 50rem;
	width: 85rem;
}

.right-side {
	background-color: red;
	padding: 3rem;
	/* margin-right: 15rem; */
	position: relative;
}

.raw-preview-txt {
	font-size: 1.6rem;
	text-decoration: underline;
}

.raw-preview {
	font-size: 3rem;
	font-weight: 600;
}

.results-btn {
	display: flex;
	position: absolute;
	width: 100%;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	bottom: 0;
	left: 0;
	gap: 0.2rem;
}

.results {
	padding: 2rem 3rem;
	width: 100%;
	font-size: 1.8rem;
	text-decoration: none;
	color: #fff;
	background-color: rgb(150, 29, 29);
}

.three-col-size {
	height: 28rem;
	width: 48rem;
	z-index: 0;
}

.img-box {
	position: relative;
}

.three-img {
	margin-top: 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	gap: 1rem;
}

.three-col-size:hover {
	background-color: rgb(196, 194, 194);
}

.match-description {
	margin-top: 2rem;
	color: black;
	font-size: 2.2rem;
	font-weight: 600;
	width: 50rem;
}

.color-line {
	height: 5px;
	width: 96%;
	background-color: darkorange;
	position: absolute;
	bottom: 20%;
}

.new-color {
	background-color: black;
	color: #fff;
	font-size: 1.4rem;
	padding: 0.3rem 0.3rem;
	font-weight: 600;
}

.container-4 {
	background-color: #003250;
	max-width: 160rem;
	margin: 0 auto;
}

/*//////////////////////////////////////
//// MORE TREND SECTION ////////////////
///////////////////////////////////////*/

.trend {
	padding: 2rem 3rem;
	display: flex;
}

.trend-txt {
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 0.2rem;
}

.wwe-news {
	color: lightgray;
	font-size: 2rem;
}

.more-trend {
	margin-left: auto;
	padding: 1rem 1rem;
	background-color: #d7182a;
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
}

.trend-imgs {
	display: flex;
	background-color: #00263d;
	justify-content: center;
	gap: 2rem;
	row-gap: 1rem;
}

.img-box-2:hover {
	background-color: rgba(128, 128, 128, 0.068);
}

.img-box-2 {
	position: relative;
	height: 300px;
	padding-top: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	z-index: -0;
}

.img-box-2::before {
	background-color: rgba(100, 100, 100, 0.144);

	opacity: 0;
	z-index: -2;
}

.img-box-2:hover:before {
	opacity: 1;
}

.trend-img {
	z-index: 1;
	position: relative;
}

.txt-flex {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	font-size: 1.6rem;
	gap: 1.4rem;
	word-spacing: -0.2rem;
}

.txt-top-ten {
	width: 32rem;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}

.share-icon {
	height: 2.8rem;
	width: 2.8rem;
	color: #fff;
}

.share-icon:hover {
	color: #d7182a;
	transition: 0.2s;
	cursor: pointer;
}

.video-link::after {
	background-image: url('https://www.wwe.com/a/i/video-icons/small-arrow-with-black.svg');
	content: '';
	background-size: 64px 64px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 9.6rem 18rem;
	/* background-color: #0969a5; */
	z-index: 100;
	padding-top: 10rem;
}

.video-link::before,
.video-link:hover {
	background-color: red;
	height: 50rem;
	padding: 15rem 0;
	content: '';
	z-index: 10;
}

/*///////////////////////////
///////// WWE Posts /////////
///////////////////////////*/

.box-layout {
	width: 120rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 6rem;
	border-top: 1px solid gray;
	margin-right: 50rem;
}

.links-box {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 2rem;
}

.raw-txt-post {
	margin-top: 3rem;
	background-color: #d7182a;
	width: 6.2rem;
	padding: 0.9rem 0;
	text-align: center;
	font-size: 1.4rem;
}

.media-logo {
	height: 2.6rem;
	width: 2.6rem;
}

.red-color {
	color: black;
}

.social-media-layout {
	display: flex;
	gap: 2rem;
}

.post-link {
	text-decoration: none;
	margin-top: 3rem;
	width: 40rem;
	font-size: 3rem;
	letter-spacing: -0.2rem;
}

.match-img {
	margin-top: 5rem;
}
